<!-- views/testView.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Bus departures</title>
</head>

<body id="home">
	<h1>MVC Example</h1>
	<ul>
		<%
			data.forEach((bus) => { %>
			<li><b><%= bus.printBusData() %></b></li>
		<% });
		%>
	</ul>
</body>
</html>